numpy
flask
pandas==2.2.3
cvxopt
scipy
progressbar33==2.4
pyright
terminaltables==3.1.10
gym
absl-py==2.3.1
accelerate
aiohappyeyeballs==2.6.1
aiohttp
aiosignal
alembic==1.16.5
altgraph
anaconda-cli-base
annotated-types
anyio==4.10.0
parse_rest
archspec 
parse-it
parsedmarc
astunparse
attrs
bleach==6.2.0
blinker==1.9.0
bokeh
boltons
brotlicffi
cachetools
certifi
cffi 
charset-normalizer
click
cloudpickle
colorama
contourpy
cryptography 
cycler==0.12.1
databricks-sdk==0.64.0
datasets==4.0.0
dill
distro 
docker
fastapi
fastuuid
flatbuffers
fonttools
frozendict 
frozenlist
fsspec
dateparser
gast
gitdb==4.0.12
GitPython==3.1.45
google-auth
Flask-Caching
pypi-search
app-model
appengine-python-standard
appdynamics
pyping
app
applicationinsights
appdirs
flask-babel
kivy
socketio
socketify
PyPika
pypickle
pypi-attestations
pypicky
pypiserver
pypi-json
pypi-simple
sockets
socketIO-client
Flask-RESTful
flask-restx
Flask-Bcrypt
Flask-OpenID
Flask-SocketIO
Flask-Compress
Flask-Migrate
Flask-HTTPAuth
Flask-Session
Flask-SQLAlchemy
Flask-WTF
mkdocs
mkdocs-section-index
mkdocs-minify-plugin
google-pasta
mkdocs-techdocs-core
sslcontext
ssllabs
mkdocs-redirects
graphene
mkdocs-autorefs
mkdocs-macros-plugin
mkdocs-material-extensions
mkdocs-get-deps
mkdocstrings
mkdocstrings-python
graphql-core
httpx-oauth
http-ece
httplib2shim
httpx-ntlm
http3
httpsig
graphql-relay
httpagentparser
httpx-auth
httplib2
graphviz
greenlet
httpretty
httpbin
httpx-ws
httpx-cache
httpie-edgegrid
httptools
httpx-sse
grpcio
gym-notices
h11
h5py
httpcore
httpx
huggingface-hub==0.34.4
idna 
imageio
six
asyncio
flask_cors
pyopenssl
flask-cors
flask-app
inquirerpy
itsdangerous
jaraco.classes 
jaraco.context 
jaraco.functools 
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpointer 
h2
wxpython
apispec
jsonschema
jsonschema-specifications
kagglehub
keras
keras-hub
keyring 
kiwisolver
lazy_loader
libclang
linkify-it-py
litellm
llmv
llvmlite
lomond
json-delta
jsonconversion
Mako
jsonref
jsonpath-rw
json-stream-rs-tokenizer
json-merge-patch
jsondiff
jsonpickle
jsonschema-path
json5
Markdown
jsonpath-ng
markdown-it-py 
MarkupSafe
mdit-py-plugins
mdurl 
menuinst 
meson
ml_dtypes
mlflow
yamllint
mlflow-skinny
pylint
mlflow-tracing
more-itertools
mpmath
multidict
jsons
json-stream
multiprocess
namex
narwhals==2.2.0
networkx==3.5
numba
openai
opencv-python==4.12.0.88
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions==0.57b0
opt_einsum==3.4.0
optree==0.17.0
packaging 
panel
param==2.2.1
pefile
pycparser
pfzy
pillow
pydantic-core
pkce 
platformdirs 
pluggy 
pyasn1
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==6.32.0
psutil
py2exe
pyarrow
pyasn1
pyasn1_modules
pycosat 
pycparser 
pydantic 
pydantic-settings 
pydantic_core 
py
py4j
pyproject-hooks
PyNaCl
Pygments 
pyinstaller
pyinstaller-hooks-contrib
PyJWT 
pyparsing
PySocks 
python-dateutil
python-dotenv 
pytz
pyviz_comms
pywin32
pywin32-ctypes
PyYAML
readchar 
referencing
regex
requests 
rich 
rpds-py
rsa==4.9.1
ruamel.yaml
ruamel.yaml.clib 
safetensors
scikit-image
scikit-learn
parsedatetime
parse
semver 
parse-type
parsel
setuptools
shellingham 
six
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.43
sqlparse
starlette==0.47.3
sympy
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2025.8.28
tiktoken==0.11.0
tk==0.1.0
tokenizers
tomli 
torch==2.8.0
tornado==6.5.2
tqdm 
transformers==4.56.0
trl==0.22.1
truststore 
typer 
typing-inspection 
typing_extensions 
tzdata
uc-micro-py==1.0.3
ui-tars==0.2.3
urllib3 
uv==0.8.14
uvicorn==0.35.0
waitress==3.0.2
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug
wheel==0.45.1
win_inet_pton
wrapt==1.17.3
xgboost
xxhash
xyzservices
yarl
zipp
asgiref
zstandard
trafilatura 
parse_cmake
numpy
opencv_python
pyautogui
pillow
requests
psutil
beautifulsoup4
trafilatura
pandas
keras
tensorflow
trafilatura
torch
json-js
dill
keyboard
ui-tars
llmv
jsonschema-spec
litellm
openai
jsonschema
jsonschema-specifications
pyyaml
pywin32
psycopg2
# Plugins
offshoot

# Redis
redis
aioredis

# Frame Capture
mss

# Input
PyAutoGUI
sneakysnek

# Network
autobahn
crossbar

# Misc
editdistance